<!-- app/templates/client_components/active_cases.html -->
<div class="container">

<table class="table table-striped table-sm text-center" id="activeCasesTable">
    <thead class="table-primary">
    <tr>
        <th rowspan="2">מספר סידורי</th>
        <th rowspan="2">מספר סידורי משתמש יוצר</th>
        <th rowspan="2">שם</th>
        <th rowspan="2">קטגוריה</th>
        <th rowspan="2">סטטוס</th>

        <th colspan="7">לקוח</th>

        <th rowspan="2">תאריך יצירת התיק</th>
        <th rowspan="2">קבצים</th>
    </tr>
    <tr>
        <!-- Sub columns for client -->
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>תעודת זהות</th>
        <th>טלפון</th>
        <th>עיר</th>
        <th>רחוב</th>
        <th>מס'</th>
    </tr>

    </thead>
    <tbody>
    <!-- שורות יוזרקו ב‑JS -->
    </tbody>
</table>
</div>
  