<div class="container-fluid">

    <!-- סרגל סינון תיקים -->
    <div class="filter-bar">
        <input id="case-search" class="filter-input" type="text" placeholder="חיפוש...">

        <select id="case-status" class="filter-select">
            <option value="">כל הסטטוסים</option>
        </select>

        <button id="clear-filters" class="filter-btn" type="button">נקה</button>
        <button id="export-excel" class="filter-btn" type="button">ייצוא לאקסל</button>
    </div>

    <!-- טבלת תיקים -->
    <table id="casesTable" class="customTable">
        <thead>
            <tr>
                <th rowspan="2" class="col-wide">כותרת</th>
                <th rowspan="2">מס' סידורי</th>
                <th rowspan="2">תחום</th>
                <th rowspan="2">סטטוס</th>
                <th colspan="4">לקוח ראשי</th>
                <th rowspan="2">נוצר ע"י</th>
                <th rowspan="2">תאריך יצירה</th>
                <th rowspan="2">מס' קבצים</th>
            </tr>
            <tr>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>ת"ז</th>
                <th>טלפון</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="100%">טוען תיקים...</td>
            </tr>
        </tbody>
    </table>


</div>