<div class="container-fluid">

    <h2 class="text-center">קבצים</h2>

    <!-- סרגל סינון -->
    <div class="filter-bar">
        <input id="search" class="filter-input" type="text" placeholder="חיפוש...">
        <button id="clear-filters" class="filter-btn" type="button">נקה</button>
        <button id="export-excel" class="filter-btn" type="button">ייצוא לאקסל</button>
    </div>

    <!-- טבלה -->
    <table id="Table" class="customTable">
        <thead>
            <tr>
                <th>שם קובץ</th>
                <th>תיאור</th>
                <th>תאריך העלאה</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="100%">טוען...</td>
            </tr>
        </tbody>
    </table>


</div>