# קבצי סביבת פייתון
__pycache__/
*.py[cod]
*.pyo
*.pyd

# סביבה וירטואלית
.venv/
venv/

# קבצים רגישים
aws/
envs/
*.env
*/.env
*.pem
*.key
*.p12
*.kubeconfig
*/*.env
/secrets/

# קבצי לוג/פלט
*.log
*.bak

# קבצי IDE (VSCode, PyCharm וכו')
.vscode/
.idea/
# Node/React artifacts
frontend/app/node_modules/
frontend/app/dist/
frontend/app/.vite/
npm-debug.log*
