version: '3.9'

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./frontend/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - backend_net

  backend:
    build: ./flask
    ports:
      - "9000:9000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      redis:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/alb-health"]
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - backend_net

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - backend_net

networks:
  backend_net:
    driver: bridge
