# compose-dev.yaml
services:
  web:
    container_name: web
    build:
      context: ../nginx
    volumes: [../nginx/conf/:/etc/nginx/conf.d/]
    env_file: [./secrets/envs/web.env]
    command: sh -c "envsubst < /etc/nginx/conf.d/nginx.conf > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    ports: ["80:80"]
    depends_on: [backend]
    networks: [backend_net]

  backend:
    container_name: backend
    build:
      context: ../flask
    stop_signal: SIGINT
    volumes: [../flask:/app]
    env_file: [./secrets/envs/backend.env]
    ports: ["9000:9000"]
    depends_on: [redis]
    networks: [backend_net]

  service-s3:
    container_name: service-s3
    build:
      context: ../s3
    env_file: [./secrets/envs/s3.env]
    volumes:
      - ./secrets/aws/config.ini:/root/.aws/config:ro
      - ./secrets/aws/credentials.ini:/root/.aws/credentials:ro
    ports: ["8000:8000"]
    networks: [backend_net]

  service-mongodb:
    container_name: service-mongodb
    build:
      context: ../mongodb
    env_file: [./secrets/envs/mongodb.env]
    ports: ["8001:8001"]
    networks: [backend_net]

  service-ses:
    container_name: service-ses
    build:
      context: ../ses
    env_file: [./secrets/envs/ses.env]
    volumes:
      - ./secrets/aws/config.ini:/root/.aws/config:ro
      - ./secrets/aws/credentials.ini:/root/.aws/credentials:ro
    ports: ["8002:8002"]
    networks: [backend_net]

  redis:
    container_name: redis
    image: redis:7-alpine
    ports: ["6379:6379"]
    networks: [backend_net]
    restart: always

  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.54.1
    depends_on:
      - backend
      - service-mongodb
      - service-ses
      - service-s3
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yaml"
      - "--storage.tsdb.path=/prometheus"
    networks:
      - backend_net

  grafana:
    container_name: grafana
    image: grafana/grafana:11.1.4
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    networks:
      - backend_net

networks:
  backend_net:
    name: backend_net
    driver: bridge

volumes:
  prometheus-data:
  grafana_data:
