<div class="login-wrapper">
  <div class="d-flex align-items-center justify-content-center">
    <div class="login-card">
      <form method="post" action="/login" id="loginForm">

        <div class="mb-3">
          <input type="text" name="username" class="form-control" required autocomplete="off" placeholder="שם משתמש"
            autofocus>
        </div>

        <div class="mb-3">
          <input type="password" name="password" class="form-control" required autocomplete="off" placeholder="סיסמא">
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100" id="login-submit">התחבר</button>
        </div>

        <div class="mb-3">
          <a href="#" id="forgot-password" class="link-primary text-black">שכחת סיסמא?</a>
          <a href="#" id="forgot-username" class="link-primary ms-3 text-black">שכחת שם משתמש?</a>
        </div>

        <!-- בלוק MFA חבוי מראש -->
        <div class="mb-3">
          <div id="mfa-block" hidden>
            <div class="mb-3">
              <label for="mfa-code">קוד מאמת (6 ספרות)</label>
              <input id="mfa_code" name="mfa_code" type="text" inputmode="numeric" maxlength="6" class="form-control"
                autocomplete="one-time-code" pattern="^[0-9]{6}$" dir="ltr" placeholder="••••••" />
            </div>

            <div class="mb-3">
              <a href="#" id="forgot-mfa" class="link-primary text-black">איפוס אימות דו-שלבי</a>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>