:root {
    --c1: #004e92;
    --c2: #000428;
    --accent: #00c2ff;
    --bg: #f4f6fb;
}

html,
body {
    overflow: auto;
    scrollbar-width: none;
    user-select: none;
    font-family: "Alef", sans-serif;
    background: var(--bg);
    color: #1f2d3d;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

h2,
h4,
h5 {
    color: var(--c1);
    font-weight: 700;
}

.btn {
    font-weight: 600;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
    white-space: nowrap;
}

.btn-success {
    background-color: var(--accent);
    border: none;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

input.form-control {
    border-radius: 6px;
}

.navbar {
    background: linear-gradient(to left, var(--c2), var(--c1));
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
    z-index: 999;
    direction: ltr;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .nav-link:hover {
    color: #dddddd;
}

.floating-logo {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999;
    pointer-events: none;
}

.floating-logo img {
    max-width: clamp(40px, 6vw, 80px);
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.navbar-toggler-icon {
    color: white !important;
}



/* עטיפה כללית לכל ההודעות */
#toasts {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    /* כדי שהסטיקי תמיד מעל */
    align-items: center;
    z-index: 9999;
    gap: 12px;
}

/* כל קונטיינר בנפרד */
.toast-container {
    display: flex;
    flex-direction: column-reverse;
    /* הודעה חדשה למעלה */
    align-items: center;
    gap: 8px;
}

/* טוסט בודד */
.toast {
    max-width: 340px;
    font-size: 0.9rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.35s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}