/* app/flask/templates/user_components/dashboard.css */

:root {
  --c1: #004e92;
  --c2: #039cc7;
  --accent: #00c2ff;
  --bg: #f4f6fb;
}

html,
body {
  overflow-x: hidden !important;
  scrollbar-width: none;
  max-width: 100vw;
}

body {
  display: flex;
  font-size: 12px;
}

.sidebar {
  width: 130px;
  min-height: 100vh;
  background-color: var(--c1);
  color: white;
  padding: 0;
  padding-right: 15px;
  position: fixed;
  right: 0;
  z-index: 1000;
  border: none;
  transition: transform 0.2s linear;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 5px;
  padding-right: 15px;
  border-radius: 0;
  white-space: nowrap;
  text-align: right;
  transition: background 0.2s ease, color 0.2s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
}

/* ריחוף ופעיל בתפריט הראשי */
.sidebar a:hover,
.sidebar a.active {
  background-color: var(--c2);
}

/* תפריט משני */
.sub-sidebar {
  width: 130px;
  min-height: 100vh;
  background-color: var(--c2);
  padding: 0;
  padding-right: 15px;
  position: fixed;
  right: 130px;
  border: none;
  transition: transform 0.3s linear;
}

.sub-sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 5px;
  padding-right: 15px;
  border-radius: 0;
  text-align: right;
  transition: background 0.2s ease, color 0.2s ease;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* פעיל וריחוף בתפריט המשני */
.sub-sidebar a:hover,
.sub-sidebar a.active {
  background-color: white;
  color: black;
  font-weight: 500;
}


.main-content {
  width: 100%;
  padding: 20px;
  transition: margin-right 2s linear;
}

body.sidebar-collapsed .main-content {
  margin-right: 0;
}


body:not(.sidebar-collapsed) .marginAdmin {
  margin-right: 130px;
}

body:not(.sidebar-collapsed) .marginClient {
  margin-right: 260px;
}



.toggle-btn {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--c1);
  color: white;
  border: none;
  padding: 10px 15px;
  z-index: 1101;
  cursor: pointer;
  width: auto;
  border-bottom-left-radius: 13px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.sidebar.collapsed {
  transform: translateX(100%);
}

.sub-sidebar.collapsed {
  transform: translateX(200%);
}


#current-date,
#current-time,
#place-holder {
  pointer-events: none;
  cursor: default;
  background: none !important;
}

#place-holder {
  height: 40px;
}


#toast {
  transition: opacity 0.5s ease;
}

#dynamicContent {
  transition: opacity 40s ease;
}






.dataTables_wrapper {
  direction: rtl;
  text-align: right;
}

.dataTables_paginate {
  direction: ltr !important;
}

#casesTable tbody tr:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}


.sidebar a,
.sub-sidebar a {
  white-space: normal !important;
  /* מאפשר שבירת שורה */
  word-break: break-word;
  /* מונע גלישה מחוץ לרוחב */
  line-height: 1.3;
}


#office-name {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
}

/* ברירת מחדל – בלי אנימציה */
#office-name span {
  display: inline-block;
  white-space: nowrap;
  direction: rtl !important;
  unicode-bidi: bidi-override;
  transform: translateX(0%);
  /* התחלה רגילה */
}

/* כשהעכבר מעל → להפעיל את האנימציה */
#office-name span {
  animation: slideLR 20s linear infinite alternate;
}

/* מימין → שמאלה → חזרה לימין */
@keyframes slideLR {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(75%);
  }
}



.sidebar-icon {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  vertical-align: middle;
}


.btn-close-white {
  filter: invert(1);
  /* הופך את ה-X ללבן */
}


.toast {
  opacity: 0;
  transform: translateY(20px);
  transition: all .35s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}


.toast-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* רווח בין קבוצות */
  bottom: 0;
}

.toast-container {
  display: flex;
  flex-direction: column-reverse;
  /* כך הודעה חדשה תופיע למעלה */
  align-items: center;
  gap: 6px;
}