<div class="container-fluid">

  <h2 class="text-center">תיקים</h2>


  <!-- סרגל סינון תיקים -->
  <div class="filter-bar">
    <input id="search" class="filter-input" type="text" placeholder="חיפוש...">

    <select id="status" class="filter-select">
      <option value="">כל הסטטוסים</option>
    </select>

    <button id="clear-filters" class="filter-btn" type="button">נקה</button>
    <button id="export-excel" class="filter-btn" type="button">ייצוא לאקסל</button>
  </div>

  <!-- טבלת תיקים -->
  <table id="casesTable" class="customTable">
    <thead>
      <tr>
        <th class="col-wide">שם משרד</th>
        <th>מס' סידורי</th>
        <th>תאריך יצירה</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="100%">טוען...</td>
      </tr>
    </tbody>
  </table>


</div>