/* login.css */

.login-wrapper {
  background: linear-gradient(to left, var(--c2), var(--c1));
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  margin-top: -300px;
  max-width: 400px;
  padding: 30px;
  background-color: #0d6efd;
  color: white;
  border-radius: 12px;
  box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.65);
}

.login-card label,
.login-card h4 {
  color: white;
}

.login-card .form-control {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-card .btn {
  font-weight: bold;
  border-radius: 6px;
}

.login-card .btn-primary {
  background-color: #004e92;
  border: none;
}

.login-card .btn-primary:hover {
  background-color: #003566;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}