name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  # Step 1: Detect Changes (Path Filtering)
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      # Expose filter outputs for the next job
      backend: ${{ steps.filter.outputs.backend }} # true if changes detected in 'flask/' directory
      web: ${{ steps.filter.outputs.web }} # true if changes detected in 'nginx/' directory
      mongodb: ${{ steps.filter.outputs.mongodb }} # true if changes detected in 'mongodb/' directory
      s3: ${{ steps.filter.outputs.s3 }} # true if changes detected in 's3/' directory
      ses: ${{ steps.filter.outputs.ses }} # true if changes detected in 'ses/' directory
    steps:
      - name: Checkout Repository - Clone
        uses: actions/checkout@v3

      - name: Detect Changed Paths
        uses: dorny/paths-filter@v2
        id: filter # step ID to reference outputs
        with:
          filters: |
            backend:
              - 'flask/**'
            web:
              - 'nginx/**'
            mongodb:
              - 'mongodb/**'
            s3:
              - 's3/**'
            ses:
              - 'ses/**'

  # Step 2: Build and Push tested Docker Images (Matrix Strategy)
  build-and-push:
    needs: detect-changes # Depend on change detection

    if: ${{ needs.detect-changes.result == 'success' }}

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # If one job fails, do not cancel the others
      matrix:
        include:
          - service: backend
            context: ./flask
            image_name: legi-bit-flask
          - service: web
            context: ./nginx
            image_name: legi-bit-nginx
          - service: mongodb
            context: ./mongodb
            image_name: legi-bit-mongodb
          - service: s3
            context: ./s3
            image_name: legi-bit-s3
          - service: ses
            context: ./ses
            image_name: legi-bit-ses

    # Conditional Execution: Run only if the specific service has changed
    # Using dynamic key access to check the relevant output

    steps:
      - name: Checkout Repository - Clone
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        if: ${{ matrix.service == 'backend' && needs.detect-changes.outputs.backend == 'true' }}
        with:
          python-version: "3.11"

      - name: Install Dependencies and Run Tests
        if: ${{ matrix.service == 'backend' && needs.detect-changes.outputs.backend == 'true' }}
        run: |
          cd flask
          pip install -r requirements.txt
          python -m pytest

      - name: Login to Docker Hub
        if: ${{ needs.detect-changes.outputs[matrix.service] == 'true' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ${{ matrix.service }}
        if: ${{ needs.detect-changes.outputs[matrix.service] == 'true' }}
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.context }}
          push: true
          tags: webserver0518/${{ matrix.image_name }}:v0.${{ github.run_number }}
